.marketContainer {
    margin-top: 15px;
}

.marketContent {
    max-width: 95%;
    margin: auto;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    /*grid-gap: 5px;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*justify-content: space-between;*/
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}