.firmItems {
    width: calc(25% - 10px);
    transition: 0.5s;
    display: flex;
    padding: 5px;
    /*width: 280px;*/
    border-radius: 6px;

}

.firmCard {
    width: 100%;
}

.firmItems:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
}

.firmItems img {
    width: auto;
    height: 105px;
    object-fit: cover;
}