
.case-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.case-row {
    width: 80%;
}

.case-list {
    width: 100%;
}

.case-sidebar {
    /*position: sticky;*/
    /*top: 70px;*/
    /*right: 0;*/
    width: 100%;
    /*background-color: #303834;*/
}

